backports.functools-lru-cache==1.5
certifi==2018.8.24
chardet==3.0.4
cycler==0.10.0
decorator==4.4.0
Django==1.9
docutils==0.14
gspread==3.0.1
idna==2.7
kiwisolver==1.0.1
matplotlib==2.2.3
networkx==2.2
nltk==3.2.5
numpy==1.15.4
pycode-similar==1.2
pygame===1.9.1release
pymongo==3.7.2
pyparsing==2.3.0
Pypubsub==4.0.0
python-dateutil==2.7.5
pytz==2018.7
requests==2.19.1
scikit-learn==0.20.2
scipy==1.2.0
six==1.11.0
sklearn==0.0
statistics==1.0.3.5
subprocess32==3.5.3
typing==3.6.6
urllib3==1.23
virtualenv==16.4.0
